# Dredd Tests
## Pass: GET (200) /products
## Pass: GET (200) /products/XYZ-1234
